<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Deaths Report</h1>
<div class="w-full" >
  <a href="#" class=" w-full block max-w-sm p-12 bg-white border border-white-200 rounded-lg shadow hover:bg-white-100 dark:bg-white-800 dark:border-white-700 dark:hover:bg-white-700">

    <p class="font-normal text-gray-700 dark:text-gray-400">

      <pre>
        <%= @data %>
      </pre>
    </p>
  </a>
</div>
