
<h1 class="mb-4 w-full text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Log File</h1>

<div class="w-full" >
  
      <pre>
        <%= @data %>
      </pre>
  
</div>

